*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
border: none;

}
.header{
  background-color: rgba(3, 41, 63, 0.801);
}
.logo{
  margin: 5px;
  width: 100px;
}

::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 850px) {
  .header{
    display: flex;
    justify-content: center;
  }
}